<p id="notice"><%= notice %></p>
  <div class="col-xs-6 col-xs-offset-3">
  	<%= render "product_row", product: @product %>
	<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-success" %> 
	<%= link_to 'Back', products_path, class: "btn btn-success " %>
  </div>
